apiVersion: v1
kind: Service
metadata:
  name: blacklist-Service
  labels:
    app: service-a
spec:
  selector:
    app: blacklist
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
